src/main/mule/docker_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5becd79d-822e-49e6-ae94-83b64373d1e4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="docker_demoFlow" doc:id="9ff7d353-c173-457d-953b-a737663e4506" >
		<http:listener doc:id="34e5a1a8-6422-408f-af65-e522c6754c39" doc:name="" config-ref="HTTP_Listener_config" path="/api"/>
		<set-payload value='#["hey docker_demoo"]' doc:name="Set Payload" doc:id="4e452c7d-d56e-4d9c-9488-db4fb38226c1" />
	<logger level="INFO" doc:name="Initial logger" doc:id="1b88c1d4-91bf-4df5-bd78-2aad23e9eea7" message="Forget Possword flow start " />
	</flow>
</mule>
